html body {
    background-color: #565655;;
  }

.carousel-caption{
  position: relative;
  color:#FF6961;
  font-family: 'Times New Roman', Times, serif;
  top: 0px;
}

.text-block{
  position: absolute;
  top: 20px;
  left: 20px;
  color: #EDEDED;

}

#land{
  position: relative;
  bottom: 100px;
  left: 400px;
}

#co{
  position: relative;
  left: 200px;
}

#sun{
  position: relative;
  left: 275px;
  top: 175px;
}

#rain{
  position: relative;
  top: 175px;
  right: 475px;
}