{% extends 'base.html' %}

{% block body %}

<h1 id="titletext" class = "display-4 text-center">About Us</h1>
<h6 class= "display-4 text-center">Information about us</h6>

<div class="row">
    <div class="col-5 mx-5 my-5 border border-5">
        <img src="/static/tree.webp" class="rounded float-end" width = "515" height= "200" alt="..."> </div>
    <div class="col-5 mx-5 my-5 border border-5">
        <img src = "/static/waterfall.webp" class="rounded float-end" width = "515" height= "200" alt="...">
    </div>
</div>

{% endblock %}