{% extends 'base.html' %}

{% block body %}

<h1 id="titletext" class = "display-4 text-center">About Me</h1>
<h6 class= "display-4 text-center">Information about me</h6>

<div class="row">
    <div class="col-5 mx-5 my-5 border border-5 bg-light">
        <p class ="text-secondary">I created and customized this website not only to help those who need assist for mental health but also to edcuate those who don't know much about mental health issues.</p> </div>
    <div class="col-5 mx-5 my-5 border border-5 bg-light">
        <p class = "text-secondary">I experience depression and stress and cannot find any supports to help myself or even prevent it so I think creating a mood tracker would help someone knows whether their moods are negative or positive.</p>
    </div>
</div>
<img id = "land" src="/static/landscape.png" width = "500" height= "300">

{% endblock %}