{% extends 'base.html' %}

{% block body %}

{% if mood %}
    {% if mood.author == current_user %}
       
        <a data-toggle="tooltip" data-placement="top" title="Edit Mood" href="/mood/edit/{{mood.id}}">
           Edit the mood! <img width="40" class="bottom-image" src="/static/edit.png">
        </a>
    {% endif %}
    <h1 class="display-5">{{mood.subject}}</h1>
    <p class="fs-3 text-break">
        {% if mood.author.image %}
            <img width="120" class="img-thumbnail float-start me-2" src="data:image;base64,{{base64encode(mood.author.image.read())}}">
        {% endif %}
            Description: {{mood.description}} <br>
            Activity: {{mood.activity}} <br>
            Feel: {{mood.emotion}} <br>
            Goal Setting: {{mood.goal}} <br>

        <img src="/static/line.png" width = "1250" height = "100">

        <a href="/comment2/new/{{mood.id}}" class="btn btn-primary btn-sm mt-4" role="button">New Comment</a>

       
        {% if comments %}
        <div class="row">
            <div class="col-4">
                <h1 class="display-5">Comments</h1>
            </div>
            <div class="col">
            </div>
        </div>

        {% for comment in comments %}
            {% if current_user == comment.author %}
                <a href="/comment2/delete/{{comment.id}}"><img width="20" src="/static/delete.png"></a> 
                <a href="/comment2/edit/{{comment.id}}"><img width="20" src="/static/edit.png"></a>
            {% endif %}
            {{moment(comment.create_date).calendar()}} {{comment.author.username}} 
            {% if comment.modifydate %}
                modified {{moment(comment.modifydate).calendar()}}
            {% endif %}
            <br>
            <p class="fs-3">
                {{comment.content}}
            </p>
        {% endfor %}
        {% else %}
            <h1 class="display-5">No Comments</h1>
        {% endif %}
    </p>
   

    <br>
    <br>

    <a href="/moods">Check out my previous moods</a>
{% endif %}

{% endblock %}