{% extends "base.html" %}

{% block body %}

        <h1>Mood Tracking</h1>


        <div class="text-center">

        <img id = "co" src="/static/r.webp" width = "200" height= "150">

        <img id = "sun" src = "/static/sun.png" width = "200" height = "150">

        <img id = "rain" src = "/static/rain.png" width = "200" height = "150">

        <form method=post>
            {{ form.hidden_tag() }}

            <p>
                Describe how you're feeling <br>
                {{ form.description(cols=64, rows=10) }}
                <!--List the errors for this field-->
                {% for error in form.description.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.activity.label }} <br>
                {{ form.activity()}}
                {% for error in form.activity.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            </p>
            <p>
                {{ form.emotion.label }} <br>
                {{ form.emotion() }}
                <!--List the errors for this field-->
                {% for error in form.emotion.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.goal.label }} <br>
                {{ form.goal() }}
                <!--List the errors for this field-->
                {% for error in form.goal.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
             <p>



                {{form.submit()}}
            </p>
        </form>

        
    </div>


       
{% endblock %}

