<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}


<h1 class="display-4 text-center ">Overview</h1>
<p></p>
<div class="row">
    <div class="col-5 mx-5 my-5 border border-5 bg-light">
        <h1 class="display-5 text-center text-secondary">Background of The Issue</h1>
        <p> Loneliness is defined as an emotional distress experience that goes along with the perception of unsatisfying social relationships. Thus, are independent of the quantity of social interactions, but are caused by the felt sense of social isolation and unsatisfied need for affection in current relationships.  
            </p>
   </div>


    <div class="col-5 me-5 mb-5 border border-5 bg-light">
        <p></p>
        <h1 class="display-6 text-center text-secondary">The effects of mental health</h1>
        <p>The mental health conditions can result in poor quality of life, homelessness or even suicide, which needs social connection and support from the communities in order to improve the conditions. People are experiencing mental health disorders because of genetics and aspects of social experience like significant trauma or physical causes such as how you grew up. Loneliness and lack of happiness in life are causing mental health not only because of the aspects of social learning that individuals experienced like significant trauma or emotional distress but also because of their unhealthy behaviors and lifestyles like habits.
        </p>
</div>


            <div class="container text-center border border-5 bg-light">
                <h1 class="display-4 container text-center text-secondary">Why does it matter?</h1>
        <p>If a bad habit is left unaddressed, it can have detrimental effects later on. Unhealthy physical habits can also negatively affect your brain. One example would be a lack of sleep, which research shows can affect how a person copes with stress and may impact their performance at work and school. Our physical habits shape the way we feel, how we present ourselves, and the way we react to environmental cues in the world around us.
        </p>
</div>

        
</div>

                


 



{% endblock %}