{% extends 'base.html' %}

{% block body %}

<div class="row">
    <div class="col-4">
        <h1 class="display-1">All Blogs</h1>
    </div>
    <div class="col">
        <a href="/mood/new" class="btn btn-primary btn-sm mt-5" role="button">New Mood</a>
        <a href="/moodgraph" class="btn btn-primary btn-sm mt-5" role="button">Graph it!</a>
    </div>
</div>

{% if moods %}
    {% for mood in moods %}
        <div class="row border-bottom">

        <div clas="col">
                <a data-toggle="tooltip" data-placement="top" title="Delete Mood" href="/mood/delete/{{mood.id}}">
                    <img width="20" class="bottom-image" src="/static/delete.png">
                </a>
                <a data-toggle="tooltip" data-placement="top" title="Edit Mood" href="/mood/edit/{{mood.id}}">
                    <img width="20" class="bottom-image" src="/static/edit.png">
                </a>
        </div>

            <div class="col-2">
                {% if loop.index == 1 %}
                <h3>Date</h3>
                {% endif %}

                <a href="/mood/{{mood.id}}">
                    {{moment(mood.mood_date).format('MMMM Do YYYY')}}
                </a>
            </div>
            <div class="col-2">
                {% if loop.index == 1 %}
                <h3>User</h3>
                {% endif %}
                {{mood.author.fname}} {{mood.author.lname}}
            </div>
            <div class="col">
                {% if loop.index == 1 %}
                    <h3>Activity</h3>
                {% endif %}
                {{mood.activity}}
            <div class="col">
                {% if loop.index == 1 %}
                    <h3>Mood</h3>
                {% endif %}
                {{mood.emotion}}
            </div>
            <div class="col">
                {% if loop.index == 1 %}
                    <h3>Description</h3>
                {% endif %}
                {{mood.description}}
        </div>
    {% endfor %}
{% else %}
    <h1>No Status</h1>
{% endif %}

{% endblock %}